<h1>New Workout Session</h1>

<%= render "plan_workout_form.html", Map.put(assigns, :action, Routes.workout_path(@conn, :new_session)) %>

<span><%= link "Back", to: Routes.workout_path(@conn, :index) %></span>
